<!doctype html>
<html>

<head>
	<title>THIS WILL BE THE BUBBLE CHART</title>
    <script src="Chart.js"></script>
    <script src="Chart.min.js"></script>
	<script src="polar_chart.js"></script>
	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>
	<form>
			<select name="list" id="list" accesskey="target">
				<option value='none' selected>Select a Page</option>
				<option value="/">Introduction & Definitions</option>
				<option value="dataset">Dataset & Questions</option>
				<option value="polar">Vegetarian Polar Area Chart</option>
				<option value="polarvgn">Vegan Polar Area Chart</option>
				<option value="cooc">Cooccurance Chart</option>
				<option value="bubbleomn">Omnivore Bubble Chart</option>
				<option value="bubblevega">Vegan Bubble Chart</option>
				<option value="bubblevege">Vegetarian Bubble Chart</option>
				<option value="http://www.google.com">Portland Restaurants</option>
			</select>
			<input type=button value="Go" onclick="goToNewPage()" />
			</form>
<script type="text/javascript">
	function goToNewPage()
	{
		var url = document.getElementById('list').value;
		if(url != 'none') {
			window.location = url;
		}
	}
</script>
</head>


<body>
<p>


</p>
<p> COOCURRANCE CHART </p>
<p>
<li> <a href="https://bost.ocks.org/mike/miserables/">Co-occurance Chart Example</a></li>
	
</p>
<p>
	<ul>
		<li>The theory behind the co-occurence chart is to show how frequently certain relationships occur together</li>
		<li>For example, in this Les Mis co-occurence we see that characters that appear in the same scenes have a stronger co-occurence relationship</li>
		<li>For my co-occurence chart I wanted to show how often certain identities intersected in survey respondents</li>
		<li>We found in our data that there was one respondent who was, vegan, Latino, and Christian</li>
		<li>We also found 10 male vegetarians with graduate degrees</li>
		<li>Had the occurence chart gone according to plan, it would have showed those relationships between identities</li>
		<li>These are the demographic categories the cooccurance chart would have shown:</li>
		<ul>
			<li>Gender</li>
			<li>Education</li>
			<li>Political Affiliation</li>
			<li>Race/Ethnicity</li>
			<li>Religion</li>
		</ul>
	</ul>
</p>

  
</body>

</html>

