<!doctype html>
<html>

<head>
    <title>THIS WILL BE THE BUBBLE CHART</title>
        <meta charset="utf-8">
          <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>
	<form>
			<select name="list" id="list" accesskey="target">
				<option value='none' selected>Select a Page</option>
				<option value="1_Introduction_&_Definitions.html">Introduction & Definitions</option>
				<option value="2_Dataset_&_Questions.html">Dataset & Questions</option>
				<option value="3_Polar_Chart_Vegetarian.html">Vegetarian Polar Area Chart</option>
				<option value="4_Polar_Chart_Vegan.html">Vegan Polar Area Chart</option>
				<option value="5_Cooccurance_Chart.html">Cooccurance Chart</option>
				<option value="6_Bubble_Chart_Omn.html">Omnivore Bubble Chart</option>
				<option value="7_Bubble_Chart_Vega.html">Vegan Bubble Chart</option>
				<option value="8_Bubble_Chart_Vege.html">Vegetarian Bubble Chart</option>
				<option value="http://www.google.com">Portland Restaurants</option>
			</select>
			<input type=button value="Go" onclick="goToNewPage()" />
			</form>
<script type="text/javascript">
	function goToNewPage()
	{
		var url = document.getElementById('list').value;
		if(url != 'none') {
			window.location = url;
		}
	}
</script>
</head>
<body>
<p>


<body>
    <script type="text/javascript">
    
        dataset = {
            "children": [{"State":"AL","Count":13},
            {"State":"AK","Count":2},
            {"State":"AZ","Count":33},
            {"State":"AR","Count":7},
            {"State":"CA","Count":133},
            {"State":"CO","Count":20},
            {"State":"CT","Count":15},
            {"State":"DE","Count":3},
            {"State":"FL","Count":5},
            {"State":"GA","Count":62},
            {"State":"HI","Count":36},
            {"State":"ID","Count":6},
            {"State":"IL","Count":7},
            {"State":"IN","Count":40},
            {"State":"IA","Count":18},
            {"State":"KS","Count":11},
            {"State":"KY","Count":12},
            {"State":"LA","Count":8},
            {"State":"ME","Count":9},
            {"State":"MD","Count":2},
            {"State":"MA","Count":29},
            {"State":"MI","Count":38},
            {"State":"MN","Count":39},
            {"State":"MS","Count":8},
            {"State":"MO","Count":3},
            {"State":"MT","Count":36},
            {"State":"NE","Count":5},
            {"State":"NV","Count":6},
            {"State":"NH","Count":7},
            {"State":"NJ","Count":8},
            {"State":"NM","Count":23},
            {"State":"NY","Count":8},
            {"State":"NC","Count":80},
            {"State":"ND","Count":21},
            {"State":"OH","Count":1},
            {"State":"OK","Count":47},
            {"State":"OR","Count":11},
            {"State":"PA","Count":29},
            {"State":"PR","Count":53},
            {"State":"RI","Count":2},
            {"State":"SC","Count":8},
            {"State":"SD","Count":5},
            {"State":"TN","Count":20},
            {"State":"TX","Count":53},
            {"State":"UT","Count":10},
            {"State":"VT","Count":0},
            {"State":"VA","Count":5},
            {"State":"WA","Count":27},
            {"State":"WV","Count":39},
            {"State":"WI","Count":4},
            {"State":"WY","Count":35}]
       };
        var diameter = 600;
        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var bubble = d3.pack(dataset)
            .size([diameter, diameter])
            .padding(1.5);

        var svg = d3.select("body")
            .append("svg")
            .attr("width", diameter)
            .attr("height", diameter)
            .attr("class", "bubble");

        var nodes = d3.hierarchy(dataset)
            .sum(function(d) { return d.Count; });

        var node = svg.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function(d){
                return  !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("transform", function(d) {
                return "translate(" + d.x + "," + d.y + ")";
            });

        node.append("title")
            .text(function(d) {
                return d.State + ": " + d.Count;
            });

        node.append("circle")
            .attr("r", function(d) {
                return d.r;
            })
            .style("fill", function(d,i) {
                return color(i);
            });

        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function(d) {
                return d.data.State.substring(0, d.r / 3);
            })
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d){
                return d.r/5;
            })
            .attr("fill", "white");

        node.append("text")
            .attr("dy", "1.3em")
            .style("text-anchor", "middle")
            .text(function(d) {
                return d.data.Count;
            })
            .attr("font-family",  "Gill Sans", "Gill Sans MT")
            .attr("font-size", function(d){
                return d.r/5;
            })
            .attr("fill", "white");

        d3.select(self.frameElement)
            .style("height", diameter + "px");



	</script>
</body>
</html>
</script>  
</body>

</html>